extends main
block content
    title #{login} - Channel Info - Okey bot
    div(class="center")
        form(action='/channel' method='GET')
            img(src='https://cdn.betterttv.net/emote/5d0ae0d1aae4851c803d4710/2x')
            input(name='username' type='text' placeholder='Check another channel' required)
            input(type="submit" value="🔍")
        table(id="channel")
            tr 
                td ID 
                td #{id}
            tr 
                td Twitch ID 
                td #{TwitchId}
            tr
                td Login
                td
                    a(href="https://www.twitch.tv/" + login target="_blank") #{login}
            tr
                td Prefix
                td #{prefix}
            tr 
                td Added on 
                td #{added}