extends main
block content
    title #{command.name} - Command Info - Okey bot
    div(class="center")
        table
            tr 
                td Name 
                td #{command.name}
            tr 
                td Aliases 
                if command.aliases
                    td #{command.aliases}
                else 
                    td N/A
            tr
                td Description
                td #{command.description}
            tr
                td Access
                if command.access
                    td #{command.access}
                else
                    td everyone
            tr 
                td Cooldown
                td #{command.cooldown} seconds
            tr
                td Usage
                if command.usage
                    td ?#{command.name} #{command.usage}
                else
                    td ?#{command.name}
            tr
                td Code
                td
                    a(href="https://github.com/0Supa/okeybot/blob/main/lib/commands/" + #{encodeURIComponent(command.name)} + ".js" target="_blank") GitHub
