extends main

block content
    title Commands - Okey bot
    div(class="center")
    each val, key in commands
        br
        h1 #{key} 
        table(id="table")
            thead
                tr
                    th Name
                    th Aliases
                    th Description
                    th Access
                    th Cooldown
                    th
                        img(src="https://cdn.frankerfacez.com/emoticon/218530/1")
            tbody
                for command in val
                    tr
                        td #{command.name}
                        if command.aliases
                            td #{command.aliases.join(', ') || ''}
                        else
                            td
                        td #{command.description}
                        if command.accessBadge
                            td(style="text-align:center")
                                img(src=command.accessBadge class='accessBadge')
                        else
                            td
                        td #{command.cooldown} seconds
                        td
                            a(href="/commands/" + #{encodeURIComponent(command.name)} info📄