extends main
block content
    title Stats - Okey bot
    div(class="center")
        table
            tr 
                td Bot Uptime 
                td #{uptime}
            tr 
                td Database Uptime 
                td #{dbUptime}
            tr 
                td RAM Usage 
                td #{ram}mb
            tr
                td Available commands
                td #{commands}
            tr
                td Active Channels
                td #{channelCount}
            tr 
                td Issued commands since last bot restart
                td #{issuedCommands.lr}
            tr 
                td All ever issued commands
                td #{issuedCommands.all}
            tr 
                td Logged messages 
                td ~#{messages.logged}
            tr 
                td Logged messages size 
                td #{messages.size} GB
            tr 
                td Queries since last db restart 
                td #{dbQueries}
            tr 
                td Queries per second 
                td #{qps}
            tr 
                td PubSub connections 
                td #{pubsub.connections}
            tr 
                td PubSub topics 
                td #{pubsub.topics}